p caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.rmdnote {
  background-image: url("images/note.png");
}
.rmdtip {
  background-image: url("images/tip.png");
}
.rmdwarning {
  background-image: url("images/warning.png");
}

.button {
    background-color: #92d094; /* Green */
    border: 2px solid #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.section.level4.unnumbered {
  margin-left: 30px;
}